<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.example.app.mapper.InterviewScheduleMapper">
	<insert id="insert"
		parameterType="com.example.app.domain.InterviewSchedule">
		INSERT INTO
		interview_schedules
		(teacher_id,
		date,start_time,end_time,duration_minutes,meeting_id)
		VALUES
		(#{teacherId},
		#{date}, #{startTime}, #{endTime}, #{durationMinutes},#{meetingId})
	</insert>
	<select id="findByTeacherId"
		resultType="com.example.app.domain.InterviewSchedule">
		select * from interview_schedules where teacher_id = #{id};
	</select>

	<select id="distinctMeetingId" resultType="Integer">
		select distinct
		meeting_id
		from interview_schedules
		where teacher_id = #{id};
	</select>

	<select id="getMeetingDate" resultType="java.time.LocalDate">
		select distinct date from
		interview_schedules where meeting_id = #{id} order by date;
	</select>

	<select id="findByMeetingId"
		resultType="com.example.app.domain.InterviewSchedule">
		select * from interview_schedules where meeting_id = #{id};
	</select>

	<select id="distinctStartAndEndTime" resultType="string">
		select distinct
		concat(date_format(start_time
		,'%H:%i'),"～",date_format(end_time,'%H:%i'))
		from interview_schedules where
		meeting_id = #{id};
	</select>

	<update id="updateStatusToClosed" parameterType="int">
		update interview_schedules set status = "closed" where meeting_id = #{id};
	</update>
</mapper>