<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.example.app.mapper.InterviewScheduleMapper">
	<insert id="insert"
		parameterType="com.example.app.domain.InterviewSchedule">
		INSERT INTO
		interview_schedules
		(teacher_id,
		date,start_time,end_time,duration_minutes)
		VALUES
		(#{teacherId},
		#{date}, #{startTime}, #{endTime}, #{durationMinutes})
	</insert>
	<select id="findByTeacherId"
		resultType="com.example.app.domain.InterviewSchedule">
		select * from interview_schedules where teacher_id = #{id};
	</select>

	<select id="distinctMeetingId" resultType="Integer">
		select distinct
		meeting_id
		from interview_schedules
		where teacher_id = #{id};
	</select>
	<select id="getStartAndEndTime"
		resultType="com.example.app.dto.StartTimeEndTime">
		select min(start_time) ,max(end_time) from
		interview_schedules where meeting_id = #{id};
	</select>
</mapper>